{% extends "AppBlog/layout/AppBlog_base.html" %} {% block blog_page %}
<div class="pb-5">
  {% for blog in draft_list %}
  <article class="py-4">
    <h3 class="link-body-emphasis">
      <a href="{% url 'AppBlog:blog_detail' pk=blog.pk %}"> {{blog.title}} </a>
    </h3>
    <p class="fw-normal text-body-secondary">
      <span> {{blog.created_at|date:'F-d, Y G:i:s'}} by {{blog.author}} </span>
    </p>

    <p>{{blog.content|safe|linebreaks|truncatewords_html:48}}</p>
    <hr />
  </article>

  {% empty %}
  <p class="fs-4">No draft.</p>
  {% endfor %}
</div>
{% endblock %} {% block js %}
<script>
  tinymce.init({
    selector: ".editor",
  });
</script>
{% endblock %}
