{% extends "AppBlog/layout/AppBlog_base.html" %} {% block blog_page %}
<div class="pb-5">
  <!-- button -->
  <div class="col-12 pb-4">
    <div class="d-flex">
      {% if user.is_authenticated %}
      <a
        class="btn btn-outline-secondary rounded-pill me-auto"
        href="{% url 'AppBlog:blog_list' %}"
        >Back</a
      >
      <a
        class="btn btn-outline-primary rounded-pill me-3"
        href="{% url 'AppBlog:blog_update' pk=blog.pk %}"
        >Update</a
      >
      <a
        class="btn btn-outline-danger rounded-pill"
        href="{% url 'AppBlog:blog_delete' pk=blog.pk %}"
        >Delete</a
      >
      {% endif %}
    </div>
  </div>
  <!-- article -->
  <article id="article" class="pt-3">
    <h2 class="link-body-emphasis pb-4 heading">{{blog.title}}</h2>
    <p class="fw-normal text-body-secondary">
      <span> {{blog.created_at|date:'F d, Y G:i:s'}} by {{blog.author}} </span>
      {% if user.is_authenticated %} {% if blog.post_at %}
      <small class="ms-3">Published<i class="bi bi-check-lg"></i></small>
      {% else %}
      <a
        class="btn btn-success btn-sm ms-3"
        href="{% url 'AppBlog:post_blog' pk=blog.pk %}"
      >
        Publish this post
      </a>
      {% endif %} {% endif %}
    </p>
    <!-- display hashtags -->
    {% if checked_tags %}
    <div class="mb-2">
      {% for tag in checked_tags %}
      <small class="badge bg-success rounded-pill">{{ tag.name }}</small>
      {% endfor %}
    </div>
    {% endif %}
    <p>{{blog.content|safe|linebreaks}}</p>
  </article>
</div>
{% endblock %} {% block js %}
<script>
  tinymce.init({
    selector: ".editor",
  });
</script>
{% endblock %}
