<div class="flex-shrink-0">
  {% if user.is_authenticated %}
  <ul class="list-unstyled p-0">
    <li>
      <span class=""><strong>Username:</strong> {{ user.username }}</span>
    </li>
    <li class="border-top my-3"></li>
    {% comment %} <li class="my-3">
      <strong class="">Blog Management</strong>
    </li> {% endcomment %}
    {% comment %}
    <!-- new blog -->
    <li class="my-2">
      <a
        href="{% url 'AppBlog:blog_create' %}"
        class="link-body-emphasis d-inline-flex text-decoration-none rounded"
      >
        <i class="bi bi-plus-circle"></i>
        <span class="ps-3">New Blog</span>
      </a>
    </li>
    <!-- draft list -->
    <li class="my-2">
      <a
        href="{% url 'AppBlog:draft_list' %}"
        class="link-body-emphasis d-inline-flex text-decoration-none rounded"
      >
        <i class="bi bi-journal"></i>
        <span class="ps-3">Draft List</span>
      </a>
    </li>
    <!-- blog list -->
    <li class="my-2">
      <a
        href="{% url 'AppBlog:blog_list' %}"
        class="link-body-emphasis d-inline-flex text-decoration-none rounded"
      >
        <i class="bi bi-blockquote-left"></i>
        <span class="ps-3">Blog List</span>
      </a>
    </li>
    {% endcomment %}
  </ul>
  {% endif %}
</div>
