{% extends "layout/base.html" %} {% block main %} {% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" /> {% load static %}
<div class="p-0 m-0">
  <div id="arguswatcherCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#arguswatcherCarousel"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="blog"
      ></button>
      <button
        type="button"
        data-bs-target="#arguswatcherCarousel"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#arguswatcherCarousel"
        data-bs-slide-to="2"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#arguswatcherCarousel"
        data-bs-slide-to="3"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <!-- blog -->
      <div class="carousel-item active">
        <img
          class="bd-placeholder-img"
          style="object-fit: cover"
          src="{% static 'img/index/blog.jpg' %}"
          aria-hidden="true"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        />
        <div class="container">
          <div class="carousel-caption text-start text-dark col-6">
            <h1 class="fw-bolder">DjangoBlog Project</h1>
            <p class="">
              A project powered by Django and Bootstrap, hosted on AWS, and CICD
              with GitHub.
            </p>
            <p>
              <a
                class="btn btn-outline-dark"
                href="{% url 'AppBlog:blog_list' %}"
              >
                More
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- button -->
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#arguswatcherCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#arguswatcherCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{% endblock %}
